<!-- Services Section -->
    <section id="whyfoss">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">FOSSMEC</h2>
                    <h3 class="section-subheading text-muted">
                      WE The MECIANS proudly present to you FOSSMEC, an initiative by the students to bring forth Open Source culture in our institute.
                      FOSSCELL MEC gives you the oppurtunity to contribute to various open source projects and to get to know contributors like
                      you from around the world.
                    </h3>
                    <br /><br />
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <img src="https://avatars1.githubusercontent.com/u/1024025?s=400&v=4" class="service-image" />
                    </span>
                    <p class="text-muted">In real open source, you have the right to control your own destiny.</p>
                    <h4 class="service-heading">Linus Torvalds</h4>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <img src="https://avatars2.githubusercontent.com/u/3840216?s=400&v=4" class="service-image" />
                    </span>
                    <p class="text-muted">Free software is software that respects your freedom and the social solidarity of your community. So it's free as in freedom.</p>
                    <h4 class="service-heading">Richard Stallman</h4>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                      <img src="https://static.toiimg.com/thumb/msid-51597991,width-640,resizemode-4/51597991.jpg" class="service-image" />
                    </span>
                    <p class="text-muted">Open platforms historically undergo a lot of scrutiny, but there are a lot of advantages to having an open source platform from a security standpoint.</p>
                    <h4 class="service-heading">Sundar Pichai</h4>
                </div>
            </div>
        </div>
    </section>
